
<html>
  <head>
    <title>Fibonacci Fun</title>
    <%- include('common/head'); %>
  </head>
  <body>
      <%- include('common/header'); %>
      <div class="jumbotron">
        
        <h3>Fibonacci created successful</h3>
        <p><%= data %></p>
      </div>
      <%- include('common/footer'); %>
  </body>
  </html>

