<html>

<head>
    <title>Fibonacci Fun</title>
    <%- include('common/head'); %>
</head>

<body>
    <%- include('common/header'); %>
        <div class="container"">
            <b>
                <h3> Click above to Create, View, Order and Search Fibonacci Series</h3>
            </b>
        </div>     
        <%- include('common/footer'); %>
    </body>
</html>