<div class="container"">
        <hr/>
        <p><b>Fibonacci Node Application:</b> 
            Build a self-contained application in NodeJS/Typescript, which generates and stores Fibonacci numbers.
            Use Docker to provision and containise the application, It should be possible to stop, start and restart the application as necessary.
            The stored values should be viewable and search/ordering should be possible. How you decide to make this viewable is up to you, 
            whether it be via command line or a basic HTML frontend. Choose your method of storage from Redis, Postgres or MySQL 
            and you may write this in PHP Laravel or Node JS. 
            Looking for a good understanding of scale, what considerations would you make to ensure this application scales? 
            Please describe any challenges you’ve identified and ideas of how you might extend the application further with your submission, 
            especially if you ran out of time.
    </p> 
</div>
