<div class="container">
    <div class="page-header">
        <h1>Welcome To Fibonacci Fun</h1> 
    </div>
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/create">Generate Series</a></li>
        <li><a href="/retrieve">View Series</a></li>
        <li><a href="/order">Sort Series</a></li>
        <li><a href="/search">Search</a></li> 
    </ul>
    <hr/>
</div>
